<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="border: 1px dashed yellowgreen">
  <h2>Users from Backend API</h2>
  <ul>
    <li *ngFor="let u of users">{{u.first_name}} {{u.last_name}}</li>
  </ul>
  <h2>Typing</h2>
  <ul>
    <li>
      <button (click)="demo()">Run Demo</button>
    </li>
    <li *ngFor="let c of logContent">
      {{c}}
    </li>
  </ul>
  <h2>A Link</h2>
  <ul>
    <li>
      <button (click)="doLink()">Do a link</button>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
